<style type="text/css">
  html,
  body,
  #root {
    height: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5tLfQmBxSvB4ki7o5WP_7TgeIA5VwS6I"></script>
